
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
    }

.container {
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
 
  h1 {
    font-family: 'Rock Salt';
    margin: 0;
    white-space: nowrap;
    font-size: 70px;
    text-align: center;
    color: #000000;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #c5b358; 
}

h2 {
    font-family: 'Rock Salt';
    font-size: 30px;
    padding: 20px;
    color: #c5b358;
    text-align: center;
    margin-bottom: 3%;
}

.control-label, .form-check {
    color: #000000;
    padding: 15px;
}

.btn {
    background-color:#c5b358;
}

.form-inline, .form-group {
    background-color: #606266;
}

#form {
    color: #000000;
    }

/* add by Jeremy */
.seatgeek-outer{
    background-color: rgb(198,180,96);
    overflow: auto;
    /* height: 640px; */
    margin: 10px 0 10px 0;
}

.seatgeek{
    padding-top: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(10, auto);
    /* grid-template-rows: minmax(150px, 1fr); */
  }

/* .seatgeek{
    margin: auto;
    background-color: aquamarine;
    width: 80%;
} */

figure{
    width: 280px;
    display: inline-block;
    margin: 5px;
    padding: 15px;
    background-color: rgb(100, 100, 80, 0.5);
}
figcaption{
    color: #c5b358;
    overflow: hidden;
}
/* add by Jeremy */